<!-- Footer -->
<section id="footer">
  <ul class="icons">
    {% for social in site.data.socials %}
    <li><a href="{{ social.url }}" class="icon alt {{ social.icon }}"><span class="label">{{ social.name }}</span></a></li>
    {% endfor %}
  </ul>
  <ul class="copyright">
    <li>&copy; {{ site.copyright }}</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
  </ul>
</section>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
