<!-- Four -->
<section id="four" class="main style2 special">
  <div class="container">
    <header class="major">
      <h2>Ipsum feugiat consequat?</h2>
    </header>
    <p>Sed lacus nascetur ac ante amet sapien.</p>
    <ul class="actions special">
      <li><a href="#" class="button wide primary">Sign Up</a></li>
      <li><a href="#" class="button wide">Learn More</a></li>
    </ul>
  </div>
</section>
