<!-- Header -->
<section id="header">
  <div class="inner">
    {% if site.font-awesome-icon-logo %}
    <span class="icon solid major {{ site.font_awesome_icon_logo }}"></span>
    {% else %}
    <img src="{{ site.logo_image_url }}" alt="{{ site.logo_image_url }}" />
    {% endif %}
    <h1>Hi, I'm <strong>Photon</strong>, another fine<br />
    little freebie from <a href="http://html5up.net">HTML5 UP</a>.</h1>
    <p>Accumsan feugiat mi commodo erat lorem ipsum, sed magna<br />
    lobortis feugiat sapien sed etiam volutpat accumsan.</p>
    <ul class="actions special">
      <li><a href="#one" class="button scrolly">Discover</a></li>
    </ul>
  </div>
</section>
