<!-- Three -->
<section id="three" class="main style1 special">
  <div class="container">
    <header class="major">
      <h2>Adipiscing amet consequat</h2>
    </header>
    <p>Ante nunc accumsan et aclacus nascetur ac ante amet sapien sed.</p>
    <div class="row gtr-150">
      {% for post in site.posts limit:3 %}
      <div class="col-4 col-12-medium">
        <span class="image fit"><img src="{{ post.image }}" alt="" /></span>
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <ul class="actions special">
          <li><a href="{{ post.url }}" class="button">More</a></li>
        </ul>
      </div>
      {% endfor %}

      <div class="row gtr-150">
        {% for post in site.feeds limit:3 %}
        <div class="col-4 col-12-medium">
          <span class="image fit"><img src="{{ post.image }}" alt="" /></span>
          <h3>{{ post.title }}</h3>
          <p>{{ post.description }}</p>
          <ul class="actions special">
            <li><a href="{{ post.url }}" class="button">More</a></li>
          </ul>
        </div>
        {% endfor %}
    </div>
  </div>
</section>
