---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

/*
	Photon by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Header */

	body.is-preload {
		#header {
			.inner {
				@include vendor('transform', 'none');
				opacity: 1;

				.actions {
					@include vendor('transform', 'none');
					opacity: 1;
				}
			}

			&:after {
				opacity: 0;
			}
		}
	}
