---
layout: default
---
<article id="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>{{ page.title }}</h1>
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ page.date | date: "%B %d, %Y" }}</p>
        <hr>
        {% if page.image %}
        <img class="img-responsive" src="{{ page.image }}" alt="{{ page.image }}">
        {% endif %}
        {% if page.description %}
        <p class="lead">{{ page.description }}</p>
        {% endif %}
        <hr>
        {{ page.content }}
      </div>

      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-4">
        <div>
          {% for categogy_name in page.categories limit:1 %}
          <h4>{{ categogy_name | capitalize }}</h4>
          <div class="row">
            <div class="col-lg-12">
              <ul class="list-unstyled">
                {% for post in site.categories[categogy_name] limit:5 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</article>
